source https://www.nuget.org/api/v2/
redirects on
framework auto-detect

nuget FAKE

// Suave
nuget Suave >= 2 prerelease

// Windows Azure Storage
nuget WindowsAzure.Storage 
nuget Microsoft.WindowsAzure.ConfigurationManager

// Other
nuget Newtonsoft.Json  
