source https://www.nuget.org/api/v2/
redirects on
framework net452

nuget FAKE

// Suave
nuget Suave
nuget Newtonsoft.Json

// Swagger
nuget Suave.Swagger
nuget Swagger

// Windows Azure Storage
nuget WindowsAzure.Storage 
nuget Microsoft.WindowsAzure.ConfigurationManager
